<div class="row">
  <div class="col s8 left-align">
    <%= link_to 'Fin', finance_path, 
      class: "waves-effect waves-light btn-large" %> 
    <%= link_to 'Log', logistics_path, 
      class: "waves-effect waves-light btn-large" %> 
    <%= link_to 'Man', manpower_path, 
      class: "waves-effect waves-light btn-large" %> 
    <%= link_to 'Pub', publicity_path, 
      class: "waves-effect waves-light btn-large" %> 
    <%= link_to 'All', reports_path, 
      class: "waves-effect waves-light btn-large" %> 
  </div>
  <div class="col s4 right-align">
    <%= link_to 'Create New Report', new_report_path, 
      class: "waves-effect waves-light btn-large" %> 
  </div>
</div>